@import "../../../assets/scss/variables";

.loginWrap {
  width: 100%;
  padding: 30px 20px 30px;
  .inputWrapper {
    margin-bottom: 18px;

    .label {
      display: block;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: $colorBlack;
      margin-bottom: 4px;
    }

    .error {
      display: block;
      color: $colorError;
      font-weight: 500;
    }
  }

  .btnUtilitiesWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    .remember {;
      .checkBox {
        display: flex;
        align-items: center;
        font-size: 16px;
      }
    }

    .btnForgetPassword {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .btnWrap {
    margin-bottom: 15px;
  }

  .btnSwitchWrap {
    display: flex;
    justify-content: center;
    .btnRegister {
      text-align: center;
      .textRegister {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}
