# OS X
**/.svn
**/.hg
**/CVS
**/Thumbs.db
**/.DS_Store

# dependencies
/node_modules
package-lock.json

# production
/build

# misc
*.pem
/.env**
!/.env.example
/public/uploads

/private/cache/*
/private/logs/*

!**/.gitkeep

# IDE config
/.vscode
/.idea
