@import "src/assets/scss/variables";

.socialWrap {
  margin-top: 40px;
  .titleWrap {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    .breakWrap {
      width: 50%;
      border-top: 1px solid #d9d9d9;
    }
    .boxTitleWrap {
      position: absolute;
      top: -9px;
      width: 100%;
      display: flex;
      justify-content: center;
      .title {
        background: $colorWhite;
        padding: 0 20px;
      }
    }
  }

  .listSocialWrap {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    .socialItemWrap {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      border: 1px solid rgb(43, 56, 71);
      margin: 0 5px;
      cursor: pointer;
      .imgWrap {
        width: 20px;
        height: 20px;
        svg {
          width: 100%;
          height: 100%;
          color: #1E3050;
        }
      }
    }
  }

}
