@import 'src/assets/scss/variables';
.mainModalWrap {
  width: 100%;
  .inputWrapper {
    width: 100%;
    margin-bottom: 18px;

    .label {
      display: block;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: $colorBlack;
      margin-bottom: 4px;
    }

    .error {
      display: block;
      color: $colorError;
      font-weight: 500;
    }
  }
}
