$mainColor: #fff;
$backgroundMain: #f0f0f5;
$mainColorDark: #2a2a4a;
$colorWhite: #fff;
$colorBlack: #282f53;
$colorActive: #e55520;
$colorNote: #76839a;
$backgroundHoverMain: #6c5ffc0d;

$colorError: #e74c3c;

$colorBlue: #1a85f8;
$colorBlueNormal: #0172CB;
$colorGrey: #D5DADD;

$colorDark1: #28293D;
$colorDark2: #555770;
$colorDark3: #8F90A6;
$colorDark4: #C7C9D9;
$colorLight: #E4E4EB;
$colorLight1: #EBEBF0;
$colorLight2: #F2F2F5;
$colorLight3: #FAFAFC;
$colorLight4: #FFFFFF;
$colorRed: #E60A32;
$colorRed1: #EB3B5B;
$colorRed2: #FF5C5C;
$colorRed3: #E0211F;
$colorGreen: #05A660;
$colorGreen1: #06C270;
$colorGreen2: #39D98A;
$colorBlue: #004FC4;
$colorBlue1: #2F6BFF;
$colorBlue2: #5B8DEF;
$colorYellow: #E5B800;
$colorYellow1: #FFCC00;
$colorYellow2: #FDDD48;
$colorOrange: #E57A00;
$colorOrange1: #FF8800;
$colorOrange2: #FDAC42;

$colorBorderDark: #8F90A6;
$colorBorderLight: #C7C9D9;
$colorBorderRed: #FF3B3B;
$colorBorderGreen: $colorGreen1;
$colorBorderBlue: #0063F7;
$colorBorderYellow: #FC0;
$colorBorderOrange: #F80;
$colorBorderDefault: #e9ecef;

//Text color - Start
$colorText40: #D2D6E5;
$colorText50: #ABB4CE;
$colorText90: #3D4667;
$colorText80: #4A577F;
$colorText70: #5E6E99;
$colorText100: #363E59;

//Color support
$colorBackgroundSupport: #FAFDFF;
$colorBorderSupport: #C7C9D9;

// Input
$colorBorderInput: #BAC7D5;
$colorBackgroundInputError: #FFF5F5;
$colorBorderInputError: $colorRed1;
$colorTextError: $colorRed1;
$colorBackGroundInputFile: $colorLight4;
$colorBorderInputFile: #D2D6E5;

// Button
$colorBackgroundButton: #2B3847;
$colorTextButton: $colorLight4;
$colorBackgroundButtonCancel: #6B7F8D;
$colorBackgroundButtonRemove: #ABB4CE;
$colorTextButtonRemove: #7E8CB2;
$colorBackgroundButtonFilter: #fff;
$colorTextButtonFilter: #000000;
$colorBorderButtonFilter: #BAC7D5;

// notification
$colorBackgroundSuccess: #E4F6D8;
$colorBorderSuccess: #B8DAA2;
$colorBackgroundError: #FFEBE9;
$colorBorderError: #E0B4AD;
$colorBackgroundWarning: #F8F4D2;
$colorBorderWarning: #DDD8A9;

// Table
$colorBorderTableContent: #ABB4CE;

// Pagination
$colorBackgroundPaginationButton: $colorLight4;
$colorBorderPaginationButton: #DFE3E8;
$colorBackgroundPaginationButtonLast: #919EAB;

// Checked
$colorBackgroundChecked: #0172CB;
$colorBackgroundCheckedHover: #249CFB;
$colorBackgroundHover: #B8C4D3;
$colorBackgroundDisableChecked: #ABB4CE;

//Break
$colorBorderBreakWrap: #D2D6E5;
$colorBorderBreak: #ABB4CE;

//FilterOrder
$colorFilter: #3D4667;
$colorActivateFilter: #EBEDF3;
$colorDayPicker: #0080FF;
$colorBackgroundDayPicker: #D9ECFF;

//Select
$colorBackgroundInputSelect: #E8EDF1;

//Tabs
$colorTabInkBar: #2D2E2E;
$colorTabActiveBg: #F1F4F7;

// Order
$colorBlueDark: #005AA3;
$colorGreenDark: #2D7738;
$colorRedDark: #EB3B5B;
$colorWaring: #BA5D00;
$colorRed: #C30326;
